# Build Folders
bin/
obj/

# Rider
.idea/
*.sln
*.iml

# Visual Studio
.vs/

# Build Artifacts
*.dll
*.exe
*.pdb
*.appx
*.apk
*.ipa
*.msix

# NuGet Packages
*.nupkg

# Logs
*.log

# Temporary Files
*.tmp
*.temp

# User-specific files
*.user
*.suo
*.userprefs
