bin/
obj/
.idea/
*.sln
*.iml
.vs/
*.dll
*.exe
*.pdb
*.appx
*.apk
*.ipa
*.msix
*.nupkg
*.log
logs/
npm-debug.log*
*.tmp
*.temp
pids/
*.pid
*.seed
*.pid.lock
node_modules/
.npm
.env
.DS_Store
Thumbs.db
*.user
*.suo
*.userprefs
